

.dash-tile{
    display: flex;
    flex-wrap: wrap;
    min-width: 25.25rem;
    max-width: 50%;
    padding: 1rem;
    align-content: center;
    gap: .15rem;
    margin: 1rem 0 0 1rem ;
    background-color: #d1c7f9 ; 
}

.dash-sum{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 30%;
    width: 50%;
    align-content: center;
    border: 1px solid red;
}

.sum-cdt{
    text-align: right;
    width: 90%;
    border: 1px solid blue
}

.sum-greet{
    text-align: center;
    width: 90%;
    border: 1px solid blue
}

.sum-group{
    text-align: center;
    width: 90%;
    border: 1px solid blue
}

.sum-lists{
    text-align: center;
    width: 90%;
    border: 1px solid blue
}

.dash-groups{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 30%;
    width: 50%;
    align-content: center;
    border: 1px solid red;
}

.dagrp-sum{
    text-align: left;
    width: 90%;
    border: 1px solid blue
}

.dagrp-ul{
    text-align: center;
    width: 90%;
    border: 1px solid blue
}

.dagrp-li{
    text-align: center;
    width: 100%;
    border: 1px solid blue
}


