.group-text{
    font-family: Roboto;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 
        -0.02rem 0.02rem 0 #5d3be4,
        0.01rem 0.01rem 0 #5D3BE4,
        0.05rem 0.05rem 0 #5D3BE4,
        0.03rem 0.03rem 0  #5D3BE4, 
        0.03rem 0.04rem 0 #5D3BE4, 
        0.02rem 0.05rem 0  #5D3BE4, 
        0.09rem 0.02rem 0 #5D3BE4, 
        0.05rem 0.01rem 0 #5D3BE4; 
}

.group-btn{
    background: #7d5dff;
    border: 1px solid #7d5dff;
    height: 1.75rem;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    z-index: 2; 
}

.group-btn:hover{
    background: #ffffff;
    color: #5d3be4;
    text-shadow:
        -0.02rem 0.02rem 0#bbaaff,
        0.01rem 0.01rem 0 #bbaaff,
        0.05rem 0.05rem 0 #bbaaff,
        0.03rem 0.03rem 0 #bbaaff, 
        0.03rem 0.04rem 0 #bbaaff, 
        0.02rem 0.05rem 0 #bbaaff, 
        0.09rem 0.02rem 0 #bbaaff, 
        0.05rem 0.01rem 0 #bbaaff;
}

.group-icon{
    color: #ffffff;
    box-shadow: inset 0px 0px 5px #5d3be47e;
    border-radius: 45%;
}

.group-icon:hover{
    color: #5d3be4;
    box-shadow: inset 0px 0px 10px #ffffff;
}

.group-tile{
    display: flex;
    flex-wrap: wrap;
    min-width: 25.25rem;
    max-width: 50%;
    padding: 1rem;
    align-content: center;
    gap: .15rem;
    margin: 1rem 0 0 1rem ;
    background-color: #d1c7f9 ;
}

.banner{
    flex-direction: column;
    gap: .15rem;
}

.ban-top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 60%;
    width: 90%;
    justify-content: center;
}

.group-name{
    text-align: center;
    font-size: 2.5rem;
}

.name-pen{
    width: 1.25rem;
    height: 1.25rem;
}

.name-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 2rem;
}

.name-input{
    display: block;
    outline: none;
    border: none; 
    border-bottom:1px solid #ffffff;
    background: transparent;
    height: 1.75rem;
    width: 12rem;
    font-size: 1.10rem;
    z-index: 2;
}

.name-input::placeholder{
    color:#ffffff ;
}

.name-edit{
    font-size: 1.10rem;
    margin: 0 .66rem
}

.name-exit{
    font-size: 1.25rem;
    width: 1.50rem;
    height: 1.50rem;
    border: none;
    outline: none;
}

.ban-bot{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 30%;
    width: 90%;
    justify-content: center;
    align-content: center;
    border-top: 1px solid #fff;
}

.group-code{
    font-size: 1.25rem;
    width: 70%;
}

.membership{
    flex-direction: column;
    gap: .15rem;
}

.users{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 8rem;
    gap: .75rem;
}

.users-count{
    font-size: 1.15rem;
    width: 100%;
}

.users-outer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    width: 100%;
    height: 6rem; 
}

.users-inner::-webkit-scrollbar{
    width: 10px;
}

.users-inner::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #ffffff4d;
    border-radius: 10px;
}

.users-inner::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 5px #5d3be49d;
    border-radius: 10px;
}

.users-inner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 7rem;
    width: 100%;
    white-space: nowrap; 
    justify-content: center;
    overflow: hidden;
    overflow-x: auto;
    list-style-type: none; 
}

.user-card{
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    width: 5rem;
    box-shadow: 
        0 0 5px #5d3be45d,
        inset 0 0 5px #5d3be45d;
}

.card-img-d{
    display: block; 
    height: 4rem;
    width:4rem;
    margin: 0 auto;
}

.card-img{
    height: 100%; 
    width:100%;
    object-fit: cover; 
    background-color: #ffffff36;
    border: 3px solid #5d3be45d;
    box-shadow: 0 0 6px #5d3be45d;  
    border-radius: 50%;
}

.card-text{
    text-align: center;
    font-size: .95rem;
    background-color: #5d3be41a;
    box-shadow: 
        0 0 4px #ffffff36,
        inset 0 0 4px #ffffff36;
    z-index: 3;
}
