
.group-text{
    font-family: Roboto;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 
        -0.02rem 0.02rem 0 #5d3be4,
        0.01rem 0.01rem 0 #5D3BE4,
        0.05rem 0.05rem 0 #5D3BE4,
        0.03rem 0.03rem 0  #5D3BE4, 
        0.03rem 0.04rem 0 #5D3BE4, 
        0.02rem 0.05rem 0  #5D3BE4, 
        0.09rem 0.02rem 0 #5D3BE4, 
        0.05rem 0.01rem 0 #5D3BE4; 
}

.group-btn{
    background: #7d5dff;
    border: 1px solid #7d5dff;
    height: 1.75rem;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    z-index: 2; 
}

.group-btn:hover{
    background: #ffffff;
    color: #5d3be4;
    text-shadow:
        -0.02rem 0.02rem 0#bbaaff,
        0.01rem 0.01rem 0 #bbaaff,
        0.05rem 0.05rem 0 #bbaaff,
        0.03rem 0.03rem 0 #bbaaff, 
        0.03rem 0.04rem 0 #bbaaff, 
        0.02rem 0.05rem 0 #bbaaff, 
        0.09rem 0.02rem 0 #bbaaff, 
        0.05rem 0.01rem 0 #bbaaff;
}

.mem-btn{
    width: 50%
}

.group-icon{
    color: #ffffff;
    box-shadow: inset 0px 0px 5px #5d3be47e;
    border-radius: 45%;
}

.group-icon:hover{
    color: #5d3be4;
    box-shadow: inset 0px 0px 10px #ffffff;
}

.group-tile{
    display: flex;
    flex-wrap: wrap;
    min-width: 25.25rem;
    max-width: 50%;
    padding: 1rem;
    align-content: center;
    gap: .15rem;
    margin: 1rem 0 0 1rem ;
    background-color: #d1c7f9 ;
}

.banner{
    flex-direction: column;
    justify-content: space-between;
    height:8rem;
}

.ban-top{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* height: 60%; */
    width: 90%;
    justify-content: center;
}

.group-name{
    text-align: center;
    font-size: 2.5rem;
}

.name-pen{
    width: 1.25rem;
    height: 1.25rem;
}

.name-form{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin: 0 2rem;
}

.name-input{
    display: block;
    outline: none;
    border: none; 
    border-bottom:1px solid #ffffff;
    background: transparent;
    height: 1.75rem;
    width: 10rem;
    font-size: 1.10rem;
    z-index: 2;
}

.name-input::placeholder{
    color:#ffffff ;
}

.name-edit{
    font-size: 1.10rem;
    margin: 0 .66rem
}

.name-exit{
    font-size: 1.25rem;
    width: 1.50rem;
    height: 1.50rem;
    border: none;
    outline: none;
}

.ban-bot{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 20%;
    width: 90%;
    justify-content: center;
    align-content: center;
    border-top: 1px solid #fff;
}

.group-code{
    font-size: 1.25rem;
    width: 70%;
}

.membership{
    flex-direction: column;
}

.mem-inner{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;
}

.users{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 8rem;
    gap: .75rem;
}

.users-count{
    font-size: 1.15rem;
    width: 100%;
}

.users-outer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: center;
    width: 100%;
    height: 6rem; 
}

.users-inner::-webkit-scrollbar{
    width: 10px;
}

.users-inner::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #ffffff4d;
    border-radius: 10px;
}

.users-inner::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 5px #5d3be49d;
    border-radius: 10px;
}

.users-inner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 7rem;
    width: 100%;
    white-space: nowrap; 
    justify-content: center;
    align-content: flex-start;
    gap:.25rem;
    overflow: hidden;
    overflow-x: auto;
    list-style-type: none; 
}

.user-card{
    display: inline-block;
    flex-wrap: wrap;
    flex-direction: column;
    width: 5rem;
    box-shadow: 
        0 0 5px #5d3be45d,
        inset 0 0 5px #5d3be45d;
}

.card-img-d{
    display: block; 
    height: 4rem;
    width:4rem;
    margin: 0 auto;
}

.card-img{
    height: 100%; 
    width:100%;
    object-fit: cover; 
    background-color: #ffffff36;
    border: 3px solid #5d3be45d;
    box-shadow: 0 0 6px #5d3be45d;  
    border-radius: 50%;
}

.card-text{
    text-align: center;
    font-size: .95rem;
    background-color: #5d3be41a;
    box-shadow: 
        0 0 4px #ffffff36,
        inset 0 0 4px #ffffff36;
    z-index: 3;
}

.search{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 1rem;
    gap: 1rem;
}

.search-btn{
    background-color: transparent;
    margin: 5px 0 0 0;
    padding: 0 .5rem 0 0;
    border: none;
    outline: none;
    font-size: 1.15rem;
}



.search-input{
    display: inline;
    outline: none;
    border: none; 
    background: transparent;
    margin: 0 0 0 1rem;
    height: 1.75rem;
    width: 15rem;
    font-size: 1.10rem;
    z-index: 2;
}

.search-input::placeholder{
    color:#ffffff ;
}

.search-text{
    font-size: 1.30rem;
   
}

.si-p{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    width: auto;
    border: 1px solid #ffffff;
    border-radius: 15px;
}

.create{
    flex-direction: column;
    padding: 1rem;
    gap: .33rem;
}

.create-btn{
    padding: 0 .25rem
}

.create-span{
    margin: 0 1rem
}

.create-input{
    display: block;
    outline: none;
    border: none; 
    border-bottom:1px solid #ffffff;
    background: transparent;
    height: 1.75rem;
    width: 12rem;
    font-size: 1.10rem;
    z-index: 2;
}

.create-input::placeholder{
    color:#ffffff ;
}

.create-title{
    font-size: 2rem;
    margin: 0 0 1rem;
}

.result-outer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 24rem;
    width: 100%;
    box-shadow: inset 0 0 5px #5d3be44d;
}

.result-inner{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 22rem ;
    width: 100%;
    overflow:hidden;
    overflow-y: auto;
    box-shadow: inset 0 0 5px #5d3be44d;
}

.result-inner::-webkit-scrollbar{
    width: 10px;
}

.result-inner::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #ffffff4d;
    border-radius: 10px;
}

.result-inner::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 5px #5d3be49d;
    border-radius: 10px;
}

.result-tt{
    display: flex;
    flex: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
    font-size:1.33rem;
}

.result-ul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    list-style-type: none;
    box-sizing: content-box;
}

.result-li{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 5rem;
    margin: 2px ;
    align-content: center;
    gap: .33rem;
    box-shadow: inset 0 0 10px #ffffff4d;
}

.result-li:hover{
    box-shadow: inset 0 0 10px #c4aedd4d;
}

.rimg-div{
    display: block; 
    height: 4rem;
    width:4rem;
    padding: 0.25rem .5rem;
}
.result-img{
    height: 100%; 
    width:100%;
    object-fit: cover; 
    background-color: #ffffff36;
    border: 3px solid #5d3be45d;
    box-shadow: 0 0 6px #5d3be45d;  
    border-radius: 50%;
}

.rp-div{
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    gap: .33rem;
    justify-content: center;
    align-content: center;
    height: 4rem;
    width:20rem;
    padding: 0.25rem .5rem;
}
.result-p{
    font-size: 1.15rem;
    width:100%;
    text-align: center;
}
