.mm-top{ 
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* align-content: space-between; */
    align-items: stretch;
    height: 39.797%;
    width: 100%;
    border-radius: 50px 0px 0px 0px;
    box-shadow: inset 0px 0px 5px #5d3be44d;
}

.mm-icon{
    color: #ffffff;
    height: 1.15rem;
    width: 1.15rem;
    box-shadow: inset 0px 0px 5px #5d3be47e;
    border-radius: 45%;
}

.mm-icon:hover{
    color: #5d3be4;
    box-shadow: inset 0px 0px 10px #ffffff;
}

.mm-opt{
    margin: 2rem 0 0 0;
    box-sizing: content-box;
}

.mmpp-div{
    margin: 2rem 0 0 0 ;
    /* flex-wrap: nowrap; */
    height: 67%;
    width: 66%;
    text-align: right;
}

.mmpp-img{
    width: 100%;
    border-radius: 50%;
    background-color: #ffffff41;
    border: 3px solid #5d3be44d ;
    box-shadow: 0 0 12px #5d3be44d;  
    z-index: 1; 
}

.pp-ebtn{
    position:relative;
    bottom: 17.5%;
    z-index: 2;
}

.pp-ediv{
    position: relative;
    bottom: 15%;
    left: -27.5%;
    height: 2rem;
    width: 13rem;
    text-align: left;
}

.pp-inp{
    display: inline;
    outline: none;
    border: none;
    border-bottom:1px solid #ffffff;
    background: transparent;
    height: 1.5rem;
    width: 11.5rem;
    font-size: 1.10rem;
    z-index: 2;
}

.pp-inp::placeholder{
    color:#ffffff ;
}

.pp-exit{
    display: inline-block;
    background: transparent;
    border: none;
    font-size: 1.25rem;
    font-weight: 900;
    margin: 0 0 0 6px;
    color: #ffffff
}

.pp-exit:hover{
    color: #5d3be4;
}

.pp-icon{
    position: relative;
    display: block;
    right: 1px;
    color: #ffffff;
    height: 1.25rem;
    width: 1.25rem;
}

.mm-nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 59.513%;
    width: 100%;
    overflow:hidden;
    overflow-y: auto;
    box-shadow: inset 0 0 5px #5d3be44d;
    border-radius: 0px 0px 0px 50px
}

.mm-nav::-webkit-scrollbar{
    width: 10px;
}

.mm-nav::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #ffffff4d;
    border-radius: 10px;
}

.mm-nav::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 5px #5d3be480;
    border-radius: 10px;
}
    
.mm-nul{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    list-style-type: none;
    box-sizing: content-box;
}

.mm-nli{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 2.5rem;
    margin: 2px ;
    align-content: center;
    box-shadow: inset 0 0 10px #ffffff4d;
}

.mm-na{
    position: sticky;
    display: inline-block;
    background-color: transparent;
    text-decoration: none;
    left: 2rem;
    color: #ffffff;
    font-size: 1.10rem;
    font-weight: 600;
    text-shadow: 
        -0.02rem 0.02rem 0 #5d3be4,
        0.01rem 0.01rem 0 #5D3BE4,
        0.05rem 0.05rem 0 #5D3BE4,
        0.03rem 0.03rem 0  #5D3BE4, 
        0.03rem 0.04rem 0 #5D3BE4, 
        0.02rem 0.05rem 0  #5D3BE4, 
        0.09rem 0.02rem 0 #5D3BE4, 
        0.05rem 0.01rem 0 #5D3BE4;
}

.mm-na:hover{
    cursor: default ;
    color: #5d3be4;
    text-shadow: 
        -0.02rem 0.02rem 0 #ffffff,
        0.01rem 0.01rem 0 #ffffff,
        0.05rem 0.05rem 0 #ffffff,
        0.03rem 0.03rem 0  #ffffff, 
        0.03rem 0.04rem 0 #ffffff, 
        0.02rem 0.05rem 0  #ffffff, 
        0.09rem 0.02rem 0 #ffffff, 
        0.05rem 0.01rem 0 #ffffff;
}