.list-text{
    font-family: Roboto;
    font-weight: 600;
    color: #ffffff;
    text-shadow: 
        -0.02rem 0.02rem 0 #5d3be4,
        0.01rem 0.01rem 0 #5D3BE4,
        0.05rem 0.05rem 0 #5D3BE4,
        0.03rem 0.03rem 0  #5D3BE4, 
        0.03rem 0.04rem 0 #5D3BE4, 
        0.02rem 0.05rem 0  #5D3BE4, 
        0.09rem 0.02rem 0 #5D3BE4, 
        0.05rem 0.01rem 0 #5D3BE4; 
}

.list-tb{
    margin: 0 1rem 0 0;
    outline: none;
    border: none; 
    border-bottom:1px solid #ffffff;
    border-top: 1px solid #ffffff;
    background: transparent;
    height: auto;
    width: 30rem;
    font-size: 1.10rem;
    z-index: 2;
}

.list-tb::placeholder{
    color:#ffffff ;
}

/* .checkbox:checked{
    color: #5D3BE4;
} */
 /* height: 1em;
    width: 1em;
    border-radius: 0.25em;
    appearance: none;
    border: 0.1em solid #5d3be4;
    color: #5d3be4;
    margin: 0 .33rem 0 0; */

/* .checkbox{
    display: grid;
    grid-template-columns: min-content auto;
    grid-gap: 0.5em;
    font-size: 1em;
    color:#5d3be4
} */

/* .checkbox_check{
    width: 1em;
    height: 1em;
    appearance: none;
    outline: none;
    --focus: 2px #5d3be44d;
    border-radius: 0.25em;
    border: 1px solid #5d3be4
} */



.task{
    padding: 0 1rem;
}

.list-btn{
    margin: 0 auto 0 auto;
    background: #7d5dff;
    border: 1px solid #7d5dff;
    padding: 0.05rem .25rem;
    margin: 0 0 0 .25rem;
    font-size: 1.25rem;
    text-decoration: none;
    text-align: center;
    box-sizing: border-box;
    z-index: 2; 
}

.list-btn:hover{
    background: #ffffff;
    color: #5d3be4;
    text-shadow:
        -0.02rem 0.02rem 0 #bbaaff,
        0.01rem 0.01rem 0 #bbaaff,
        0.05rem 0.05rem 0 #bbaaff,
        0.03rem 0.03rem 0  #bbaaff, 
        0.03rem 0.04rem 0 #bbaaff, 
        0.02rem 0.05rem 0  #bbaaff, 
        0.09rem 0.02rem 0 #bbaaff, 
        0.05rem 0.01rem 0 #bbaaff;
}

.title-div{
    height: 100%;
    width: 100%;
    text-align: center;
}

.title-text{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    font-size: 2.5rem;
    height: 65%;
}

.list-icon{
    color: #ffffff;
    height: 1.25rem;
    width: 1.25rem;
    margin: 0 .25rem;
    box-shadow: inset 0px 0px 5px #5d3be47e;
    border-radius: 45%;
}

.list-icon:hover{
    color: #5d3be4;
    box-shadow: inset 0px 0px 10px #ffffff;
}

.title-tools{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    height: 1.5rem;

}

.tool-edit{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-content: flex-end;
    margin: 0 .33rem 0 0;
    height: 100%;
    width: 20rem;
}

.tool-input{
    margin: 0 auto .33rem auto;
    outline: none;
    border: none; 
    border-bottom:1px solid #ffffff;
    background: transparent;
    height: 1.75rem;
    width: 15rem;
    font-size: 1.10rem;
    z-index: 2;
}

.tool-input::placeholder{
    color:#ffffff ;
}


.list-border{
    font-size: 1.25rem;
}

.index-mid{
    overflow: none;
    overflow-y: auto;
}

.mid-inner{
    overflow: none;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 100%;
    width: 100%;
    list-style-type: none;
    box-sizing: content-box;  
}

.mid-inner::-webkit-scrollbar{
    width: 10px;
}

.mid-inner::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #ffffff4d;
    border-radius: 10px;
}

.mid-inner::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 5px #5d3be480;
    border-radius: 10px;
}



.inner-li{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 2.5rem;
    margin: .05rem ;
    padding: 0 0 0 .5rem ; 
    align-content: center;
    justify-content: left;
    box-shadow: inset 0 0 10px #ffffff4d;
}

.bot-items{
    overflow: none;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 83%;
    width: 100%;
    list-style-type: none;
    box-sizing: content-box; 
}

.bot-items::-webkit-scrollbar{
    width: 10px;
}

.bot-items::-webkit-scrollbar-track{
    box-shadow: inset 0 0 5px #ffffff4d;
    border-radius: 10px;
}

.bot-items::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 5px #5d3be480;
    border-radius: 10px;
}

.bot-item{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    margin: .05rem ;
    padding: .5rem 1rem .5rem 1rem ; 
    align-content: center;
    justify-content: left;
    box-shadow: inset 0 0 10px #ffffff4d;
}

.bot-foot{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    height: 5rem;
    width: 100%;
    bottom: 0;
    box-shadow: 
        1px 1px 10px #5d3be44b,
        inset 1px 1px 10px #5d3be44b;
}

.bot-p{
    padding: 0 1rem;
}

.bot-tb{
    margin: 0 1rem 0 0;
}

/* .view-top{

}

.view-bottom{

} */

/* .win-view{

} */